* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.my_name {
    position: relative;
    top: -100%;
    font-size: 2ch;
    text-align: center; 
}

.main_menu {
    padding: 0;
    position: relative;
    top: -100%;
    list-style-type: none;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.main_menu li {
    display: inline-block;
}
.main_menu li a {
    display: block;
    color: black;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 14px 14px 14px 14px;
    text-decoration: none;
}

li a:hover {
    opacity: 0;
    animation: hov_anim;
    animation-duration: 0.5s;
    animation-fill-mode:forwards
}

@keyframes hov_anim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        background-color: blue;
        color: white;
    }
}

hr {
    position: relative;
    top: -100%;
    width: 35ch;
    height: 10px;
    border: 0 none;
    border-radius: 7px 7px 7px 7px;
    margin-right: auto;
    margin-left: auto;
    background-color: blue;
}